body {
    font-size: 1rem;
}

#sidebarMenu {
    height: 100vh;
}

.navbar {
    background-color: #ffefd5;
}

footer {
    height: 50px;
    background-color: antiquewhite;
}

footer > p {
    line-height: 50px;
}

.fix-page-height {
    min-height: 87vh;
}